<link rel="stylesheet" href="/style.css">
<div class="login-page">
     
    <div class="form">
        <form action="/verify" method="post">
        <form class="register-form">
            <h4 class="text-danger">{{msg}}</h4>
            <input name="username" placeholder="username" /> 
            <input name="password" placeholder="password" />
            <button>login</button>
            <p class="message">SIGNUP </p>
            
        </form>
       
        </form>
    </div>
</div>

